@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700;800&display=swap');

body{
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar{
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb{
  @apply bg-gradient-to-b from-indigo-400 to-purple-500 rounded-full
}

::-webkit-scrollbar-track{
  @apply bg-slate-400 bg-opacity-30
}